// the general layout of the page is defined here.
// you can either dump all your styles here, or divide them in smaller files like _header.scss, _footer.scss

.content-area{
	@include container;
	@include margin-top (36);
	//@include susy-grid-background;
}

body {
	background-color: $darkwhite;
}

.site-main {
	@include padding-top (70);
}

.row-container {
	//overflow: hidden;
	@include padding-pair (24,0);
	@extend %clearfix;
}

.general-title {
	@include font-size (18);
	font-family: $f-black;
	color: $mediumgrey;
	@include margin-bottom (6);
	clear: both;
}

.separator-title {
	@extend %bar;
	@include margin-bottom (30);
}



.contact-button {
			@include font-size (12);
			font-family: $f-regular;
			@include line-height (24);
			vertical-align: middle;
			background: $white;
			@include box-shadow (inset $tilegrey 0px -7px 12px);
			border: 1px solid #e6e6e6;
			@include border-radius (3px);
			@include padding-pair (0,24);

			@include transition-property (box-shadow, border);
			@include transition-duration (0.1s);

			&:hover {
				@include box-shadow (inset $tilegrey 0px 7px 12px);
				border: 1px solid $lightgrey;
			}
}

a {
	cursor: pointer;
}

