// the general layout of the page is defined here.
// you can either dump all your styles here, or divide them in smaller files like _header.scss, _footer.scss
// This is the layout of the footer.

// General Footer

//First Level

.footer-firstlevel {
	@include margin (54, 0, 24, 0);
	@include container;
	text-align: center;
	img {
		@include margin-pair (0,12);
		@include opacity (0.5);
		@include transition-property (opacity);
		@include transition-duration (0.2s);
		&:hover {
			@include opacity (1.0);
		}
	}
	h1{
		@include font-size (18);
		font-family: $f-black;
		color: $mediumgrey;
	}
	.separator-footer {
		@include margin-bottom (24);
		@extend %bar;
	}
}



// Main Footer

.footer-main {
	background-image: url(images/background-footer.png);
	@include padding-pair (30,0);
	overflow: hidden;
	@include box-shadow (inset $grey 0px  1px  3px);
	@include box-shadow (inset $grey 0rem 1rem 3rem);
}

#colophon {
	@include container;
}

.footer-about {
		@include span-columns (4,12);
}

.footer-social, .footer-info{
	@include span-columns (3,12);
}

.footer-search  {
	@include span-columns (2 omega,12)
}

#colophon section {
	h1{
		@include font-size (18);
		color: $lightgrey;
		font-family: $f-black;
		@include margin-bottom (24);
	}
	p {
		@include font-size (12);
		color: $lightgrey;
		font-family: $f-regular;
	}
	a{
		text-decoration: none;
		cursor: pointer;
	}
}

#colophon {
	p {
		vertical-align: top;
		@include margin-bottom (6);
		@include transition-property (color);
		@include transition-duration (0.1s);
	}

	span {
		@include margin-right (6);
	}
	a p:hover {
		color: $darkgrey;
	}
}

