 // the modules directory is where you can add classes for the parts of your layout, like widgets, 
// This is where the editing area will be stylized

.edit-wrapper {
	background: $tilegrey;
	@include min-height (300);
	@include padding-bottom (36);
}

.edit-container {
	@include container;
	@extend %clearfix;

	ul {
		list-style-type: none;
		
			li {
				display: inline;
				a{
			display: inline-block;
			}
		}
	}

	.load-more {
		@extend %float-right;
		@include margin-top (12);
		clear: both;
	}

	.messages-close {
		@include margin-top (12);
	}

	.single-smalltile {
		background: #e6e6e6;
	}
}

.edit-menu {
	@include margin-bottom (54);

	.ui-state-active {
		a {
			background: none;
			color: $grey;
		}
	}

	 li {

	 	a {
		 	font-family: $f-black;
		 	@include font-size (18);
		 	@include padding-pair (12,16);
		 	background: $white;
		 	@include margin-right (6);
	 		color: $lightgrey;

	 		@include transition-property (all);
	 		@include transition-duration (0.2s);

	 		&:hover {
				background: $blue;
	 			color: $white;
	 			text-decoration: none;
	 		}
	 	}
	 }
}

.edit-profile {
	
	.image-change {
		@include span-columns (3,12);
		@extend %float-left;
		position: relative;
		//@include width (252);

		img {
			border: 1px solid #E6E6E6;
			@include padding-pair (5,5);
			background: $white;
			vertical-align: middle;
		}

		.upload-image {
			position: absolute;
			top: 83%;
			right: 10%;
		}
		button {
			@include box-shadow  ($black 1px 2px 13px, inset $lightgrey 0px -2px 15px);
			@include border-radius (3px);
			background: $white;
			border: none;
			color: $darkgrey;
			font-family: $f-bold;
			@include padding-pair (3, 24);

			@include transition-property (all);
			@include transition-duration (0.2s);

			&:hover {
				@include box-shadow  (inset $lightgrey 0px 2px 15px);
			}
		}
	}
}

.edit-profile-form {
	@include span-columns (8,12);

	.edit-formgroup {
		@include margin-bottom (6);
		
		img {
			@include padding-right (6);
		}
	}

	input, textarea {
		font-family: $f-regular;
		color: $grey;
		background: #E6E6E6;
		@include box-shadow  (inset $lightgrey 2px 3px 7px);
		border: none;
		outline: 0;
		@include border-radius (3px);
		@include padding-pair (4,12);
		vertical-align: 65%;
		@include min-width (180);
	}

	textarea {
		@include max-width (650);
	}

	.edit-firstgroup {
		@extend %float-left;
		width: 50%;
	}

	.edit-name {
		font-family: $f-black;
		@include font-size (18);
	}

	.edit-role {
		@include font-size (12);
	}
}


.edit-main {
	@include margin-top (6);
	@extend %clearfix;
}

.ui-widget-content {
	@extend %clearfix;
}


.edit-pen { 
	img{
	@include padding-pair (6,6);
	background: $lightgrey;
	
	@include single-transition (0.3s, all);

		&:hover {
			background: $darkwhite;
		}
	}

}