 // the modules directory is where you can add classes for the parts of your layout, like widgets, 
// This is where the messages template will be stylized

.messages-section {
	background: $tilegrey;
	@extend %clearfix;
	@include padding-pair (48,0);
	@include min-height (240);
}

.messages-container {
	@include container;

	ul {
		list-style-type: none;
	}

	.ui-tabs-panel {
	@extend %clearfix;
	@include span-columns (7,12);
	}
}

.messages-menu {
	@include span-columns (3,12);
	margin-right: space(1,12) + gutter();

	font-family: $f-black;
	color: $grey;
	@include font-size (18);

	img {
		@include padding-right (18);
	}

	li {
		@include margin-bottom (6);
		@include padding-pair (6,12);
		
		a {
			color: $grey;
			@extend %clearfix;

			&:hover {
				color: $darkgrey;
				text-decoration: none;
			}
		}
	}

	.ui-tabs-active, .ui-state-active {
		background: #e6e6e6;
	}
}

.unread {
	background: $white;
}

.message-preview {
	@extend %clearfix;
	border-bottom: 1px solid $lightgrey;
	@include margin-bottom (12);

	img, .message-firstblock, .message-secondblock {
		@extend %float-left;
	}

	h1,h2,p,ul {
		clear: none;
	}
		a{
			color: $grey;

			&:hover {
				color: $mediumgrey;
				text-decoration: none;
			}
		}

}

.message-firstblock {
	@include padding-pair (0,18);
	@include min-width (170);

	h1 {
		@include padding-top (4);
		@include font-size (14);
		@include margin-bottom (6);
	}

	p {
		@include font-size (12);
		@include margin-bottom (0);
	}
}
	
.message-secondblock {

	h1 {
		@include padding-top (4);
		@include font-size (14);
		font-family: $f-black;
		@include margin-bottom (6);
	}

	ul {
		@include margin-left (0);
	}

	li {
		display: inline;
		a:hover {
			text-decoration: underline;
		}
	}
}

.messages-pagination {
	ul {
		@include margin-top (24);
		@include margin-left (0);
		@extend %float-right;
	}

	li{
		display: inline;
	}

	a {
		color: $grey;
		@include font-size (12);
		@include padding-pair (4,6);
		background: #e6e6e6;

		&:hover {
			background: $lightgrey;
			text-decoration: none;
		}
	}
}

.messages-close {
	@extend %float-right;

	a {
		color: $grey;
		@include font-size (24);
		@include padding-pair (0,10);
		font-family: $f-light;

		&:hover {
			background: #e6e6e6;
			text-decoration: none;
		}
	}
}

.write-section {
	img {
		@extend %float-left;
	}
}

.write-message {
	@include padding-pair (12, 24);
	width: 84%;
	@extend %float-left;
	@extend %clearfix;
	background: $white;

	input {
		border:none;
		@include border-radius (2px);
		@include box-shadow (inset $lightgrey 3px 3px 8px);
		outline: 0;
		background: #e6e6e6;
		@include padding-pair (2,6);
		@include width (150);
	}

	button {
		@include font-size (18);
		@include border-radius (2px);
		border:none;
		background: $mediumgrey;
		color: $white;
		font-family: $f-bold;
		@include padding-pair (2,12);
		@include margin-pair (12,0);
		@extend %float-right;
		
		@include transition-property (all);
		@include transition-duration (0.1s);

		&:hover {
			background: $grey;
		}
	}

	h1 {
		font-family: $f-bold;
		color: $grey;
		@include font-size (16);
	}
}

.write-input {
	display:block;
	@include margin-bottom (6);

	label {
		@include min-width (80);
		@extend %float-left;
	}

	.write-text {
		width: 81%;
		@include min-height (200);
	}
}

.current-page a{
	background: $white;
}
