// the modules directory is where you can add classes for the parts of your layout, like widgets, 
// This is where the metrics will be stylized

.counter-sidebar {
	@include span-columns (4,12);
}

.counter-row {
	@include margin-top (12);
	clear: both;
	overflow: hidden;
	img {
		@extend %float-left;
		@include margin-left (18);
	}

	h1 {
		@extend %float-left;
		clear:none;
		@include font-size (54);
		font-family: $f-light;
		@include line-height (54);
		@include margin-pair (0,18);
	}

	p {
		@include font-size (22);
		font-family: $f-regular;
		color: $mediumgrey;
		@include margin-bottom (12);
		@include line-height (24);
	}
}

.separator-sidebar {
		@extend %bar;
		@include margin-top (12);
}

