 // the modules directory is where you can add classes for the parts of your layout, like widgets, 
// This is where the profile will be stylized

.profile-details {
	@extend %clearfix;

	.image-profile {
		@extend %float-left;
		@include padding-pair (5,5);
		background: $white;
		border: 1px solid $tilegrey;

		img {
			vertical-align: middle;
		}
	}

	article {
		.bio-text {
			@include font-size (16);
			color: $grey;
			@include line-height (24);
			@include min-height (72);
			font-family: $f-regular;
		}
	}
}

.profile-basics {

	h1 {
		clear: none;
		font-family: $f-black;
		color: $darkgrey;
		@include font-size (30);
		@include line-height (30);
		@include margin-bottom (0);
		}

		.contact-button {
			@include margin-left (12);
		}
		
	h2 {
		@include font-size (12);
		font-family: $f-regular;
		color: $mediumgrey;
		clear: none;
	}

}

.image-profile-container {
	@extend %float-left;
	@extend %clearfix;
	@include padding-right (12);
}

.profile-counters {
	@include span-columns (4,12);

	div {
		@include width (80);
		@include height (80);
		@extend %float-left;
		@include margin-right (12);
		text-align: center;
		
		h1 {
			color: $white;
			font-family: $f-black;
			@include font-size (36);
			@include line-height (36);
			@include margin-bottom (6);
			@include margin-top (10);
		}

		p {
			@include line-height (12);
			vertical-align: middle;
			color: $white;
			@include font-size (12);
		}
	}
}

.favourite-counter {
	background: $grey;
}

.contest-counter {
	background: $red;
}

.project-counter {
	background: $blue;
}

.profile-links {
	@include span-columns (5 omega, 12);
	@include margin-bottom (6);

	div {
		@extend %float-left;
		@include width (30);
		@include height (30);
	}

	a {

		color: #999;
		@include padding-top (7);
		@include padding-right (12);
		@include padding-bottom (6);
		@include padding-left (12);
		vertical-align: bottom;
		@include line-height (4);

		@include transition-property (all);
		@include transition-duration (0.2s);

		&:hover {
			background: #999;
			color: $white;
			text-decoration: none;
		}
	}
}

.facebook-link {
	background-image: url('images/facebook-link.png');
	background-repeat: no-repeat;
}

.twitter-link {
	background-image: url('images/twitter-link.png');
	background-repeat: no-repeat;
}