 // the modules directory is where you can add classes for the parts of your layout, like widgets, 
// This is where the videosidebar will be stylized

.video-sidebar {
	@include span-columns (3 omega, 12);

	.general-title {
		@include padding-bottom (12);
		color: $mediumgrey;
	}

	.video-creator {
	color: $blue;
	}

}


.video-participants {
	@include margin-bottom (30);

	.general-title {
		@include padding-bottom (0);
	}
}

.single-participant {
	@extend %clearfix;
	@include padding-top (12);
	
	img {
		@extend %float-left;
		@include padding-right (12);
	}

	h1 {
		font-family: $f-black;
		@include font-size (14);
		@include margin-bottom (0);
		clear: none;
	}

	h2 {
		font-family: $f-regular;
		@include font-size (14);
		@include margin-bottom (0);
		clear: none;
	}

	a {
		cursor: pointer;
		color: $darkgrey;
		&:hover {
			text-decoration: underline;
		}
	}
}

.video-details {
	@include margin-pair (24,0);

	h1 {
		font-family: $f-black;
		@include font-size (18);
		color: $grey;
		@include margin-bottom (12);
	}

	span {
		font-family: $f-regular;
		@include font-size (14);
		color: $grey;
		@include padding-left (12);
	}
}

.firstsection-sidebar {
	@include min-height (420);
	@include margin-bottom (24);
}

.sidebar-overimage {
		position: absolute;
		@include width (250);
		@include height (84);
		background: rgba(0,0,0,0.5);
}

.sidebar-video {
	@include padding-top (12);

	h1 {
		color: $white;
		position: absolute;
		font-family: $f-black;
		@include font-size (20);
		@include padding-pair (18,12);
		@include span-columns (2,12);
	}

	a {
		cursor: pointer;
		color: $darkwhite;
		&:hover{
			text-decoration: none;
			color: $lightgrey;
		}
	}
}