// this is a two-tiered variable system.
// the descriptive variables are used as values for the functional variables.


// descriptive variables

// these variables are used to easily identify colors by name.

$white             : #fff;
$darkwhite         : #F8F8F8;
$black             : #000;
$blue              : #36BFA6;
$redv2             : #F27052;
$red               : #DD3F38;
$grey              : #666666;
$tilegrey          : #f2f2f2;
$lightgrey         : #cccccc;
$mediumgrey        : #999999;
$darkgrey          : #333333;
$menugrey          : #4D4D4D;

$facebookblue 	   : #3B5998;